<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-button [routerLink]="['/home']" routerDirection="back" color="medium">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title slot="secondary">Detalles de tu ejercicio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngIf="entrenamientos">
    <img src="{{entrenamientos.cover}}" height="80%" width="80%">
    <ion-card-header>
      {{entrenamientos.name}}
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Series: {{entrenamientos.sets}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Repeticiones: {{entrenamientos.reps}}</ion-label>
        </ion-item>
        <ion-item>
          Músculos afectados: {{entrenamientos.targetedMuscles}}
        </ion-item>
      </ion-list>
      <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(entrenamientos)">
        <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
      </ion-button>
      <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(entrenamientos.id)">
        <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>